body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: lightgray;
}

*:hover {
  cursor: default;
}

a {
  color: #00B7FF;
}

a:hover {
  cursor: pointer;
}

th {
  padding-right: 50px;
}

button {
  border-radius: .5rem;
  background-color: darkgray;
}

button:hover {
  background-color: green;
  height: 1.5rem;
  width: 5rem;
  cursor: pointer;
}

select {
  border-radius: .5rem;
}

select:hover {
  cursor: pointer;
}

input {
  border-radius: .5rem;
}

input:hover {
  cursor: pointer;
}