body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
  color: lightgray;
}

a {
  color: #00B7FF;
}

th {
  padding-right: 50px;
}

button {
  border-radius: .5rem;
  background-color: darkgray;
}

select {
  border-radius: .5rem;
}

input {
  border-radius: .5rem;
}